
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

#copyright {
  font:italic
}

.navbar-logo {
	padding-right: 0px;
	margin-right: 4px;
	clip-path: circle(50% at center);
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
	display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
	background-image: url("images/noisy.png");
	background-repeat: repeat;

}


main, .sidebar {
  background: #fff9;
  padding: 20px;

}

.float-right {
  float: right;
}

.callout-tip {
  overflow: auto;
}

.callout-tip img {
  float: right;
  height: 8em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
