
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

#copyright {
  font:italic
}

.navbar-logo {
	padding-right: 0px;
	margin-right: 4px;
	clip-path: circle(50% at center);
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
	display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("images/noisy.png");
	background-repeat: repeat;
	opacity: 0.25;
	z-index: -1;
	pointer-events: none;
}


main, .sidebar {
  background: #ffffff;
  padding: 20px;

}

.float-right {
  float: right;
}

.quarto-about-jolla main.content {
  text-align: left;
}

.callout-tip {
  overflow: auto;
  float: right;
  width: 40%;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
  font-size: 0.9em;
}

.callout-tip img {
  float: left;
  height: 5em;
  margin-right: 0.75em;
  margin-bottom: 0.5em;
  display: inline;
}
